* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.wrapper {
    text-align: center;
    display: grid;
    /*71px*/
    grid-template-columns: minmax(71px, 256px) minmax(800px, 1fr);
    grid-template-rows: 170px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
    height: 100vh;
}

.header {
    grid-area: header;
    display: grid;
}

.sidebar {
    background-color: rgb(58, 140, 247);
    color: white;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

.sidebar img {
    display: inline-block;
    fill: white;
}

.sidebar-title {
    font-size: 24px;
}

.sidebar-title,
ul li {
    display: grid;
    grid-template-columns: auto 200px;
}

.sidebar ul{
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}

.main-content {
    grid-area: main-content;
    background-color: rgb(204, 204, 204);
    padding: 10px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}

.projects p {
    font-size: 18px;
    text-align: left;
}

.projects .card {
    background-color: white;
    text-align: center;
    height: 200px;
}

.card p {
    font-weight: normal;
    font-size: 14px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}
