* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: minmax(71px, 245px) minmax(800px, 1fr);
    grid-template-rows: 170px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
    height: 100vh;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 70px 100px;
    padding: 0 40px 0 40px;
    box-shadow: 0px 3px 3px 0px rgba(109,109,109,0.2);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(109,109,109,0.2);
    -moz-box-shadow: 0px 3px 3px 0px rgba(109,109,109,0.2);
    z-index: 10;
}

.header-top,
.header-bot {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-items: left;
    align-items: center;
}

input[type=search] {
    width: 85%;
    height: 30px;
    border: 0;
    border-radius: 50px;
    background-color: rgb(222, 227, 236);
    padding-left: 18px;
    font-size: 12px;
}

img {
    width: 20px;
}

img.profile.large {
    width: 50px;
}

img.profile.small {
    width: 38px;
}

img.profile {
    border-radius: 50%;
}

.profile-name {
    font-size: 15px;
    font-weight: 700;
}

.user-greeting {
    text-align: left;
    font-weight: 700;
}

.user-greeting p:nth-child(1) {
    font-size: 10px;
}

.user-greeting p:nth-child(2) {
    font-size: 22px;
}

.header-bot button {
    background-color: rgb(58, 140, 247);
    color: white;
    padding: 0;
    border: 0;
    width: 85px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
}

.sidebar {
    background-color: rgb(58, 140, 247);
    color: white;
    grid-area: sidebar;
    padding: 14px 20px 10px 10px;
    z-index: 10;
}

.sidebar-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}

li img,
.sidebar-title img {
    width: 25px;
    filter: invert(99%) sepia(1%) saturate(79%) hue-rotate(246deg) brightness(117%) contrast(100%);
    justify-self: center;
}

.sidebar-title p,
li a {
    justify-self: left;
    padding-left: 10px;
}


.sidebar-title img {
    width: 45px;
}

ul li {
    margin-bottom: 10px;
}

.sidebar-title,
ul li {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.sidebar ul{
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
}

li:nth-child(6) {
    margin-bottom: 60px;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    grid-gap: 26px;
    background-color: rgb(222, 227, 236);
    padding: 30px 20px 30px 20px;
}

.section-title {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.projects-wrapper {
    grid-area: projects;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.projects p {
    text-align: left;
}

.projects .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 30px;
    border-left: 8px solid rgb(255, 85, 85);
}

.card-content {
    display: grid;
    grid-template-rows: min-content 1fr;
    margin-bottom: 20px;
    flex: 1;
}

.card-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 20px;
}

/*For all cards (projs, announce, trends)*/
.card {
    border-radius: 8px;
}

.card p:nth-child(1) {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    color: rgb(112, 112, 112);
}

.announcements-wrapper {
    grid-area: announcements;
}

.trending-wrapper {
    grid-area: trending;
}

